* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
nav {
  position: fixed;
  /* background-color: #0ba34e; */
  display: flex;
  align-items: flex-start;
  height: 12vh;
  width: 100%;
  padding: 2vw 12vw;
  justify-content: space-between;
}
.nav-part-2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}
.nav-part-2 h4 {
  font-size: 0.73vw;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-part-2 h4 span {
  font-size: 0.77vw;
  font-weight: 600;
  margin-bottom: 2.6vw;
}
.nav-part-2 h5 {
  margin-bottom: 1vw;
  opacity: 0;
  /* margin-top: 1vh; */
}
.nav-part-2 h5 span {
  font-size: 0.77vw;
  font-weight: 400;
  display: inline-block;
  background-color: red;
}
nav:hover #nav-bottom {
  height: 150%;
  bottom: -150%;
  background-color: #111;
}

.bottom-div {
  margin-top: 6vw;
  /* position: absolute; */
}
.bottom-div h5 {
  /* background-color: red; */
  overflow: hidden;
  margin-bottom: 0.4vw;
}
.bottom-div h5 span {
  font-weight: 500;
  display: inline-block;
  font-size: 0.75vw;
  opacity: 0;
  /* opacity: 0; */
}
nav button {
  background-color: #0ba34e;
  display: flex;
  align-items: center;
  padding: 12px 14px;
  font-size: 0.5=85vw;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50pc;
  border: none;
}
nav button svg {
  height: 0.85vw;
  margin-left: 2vw;
}
#nav-bottom {
  width: 79%;
  height: 0vh;
  position: absolute;
  background-color: #111;
  top: 100%;
  bottom: 0;
  z-index: 9;
  border-bottom: 1px solid white;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page1 h1 {
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 8.5vw;
}
#page1 h1 p {
  text-align: center;
  font-weight: 400;
  margin-top: 3vh;
}
#page1 h1 svg {
  height: 6vw;
  width: 6vw;
  background-color: #0ba34e;
  border-radius: 50%;
}
#page1-something {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#page1-something h4 {
  font-weight: 400;
  font-size: 1vw;
  text-transform: lowercase;
  margin-top: 0.5vw;
  padding: 5px 10px;
  border: 1px solid hsl(0, 0%, 65%);
  border-radius: 50px;
}
#page1-something h4:nth-last-child(2) {
  /* background-color: red; */
  border: none;
  padding: 2px;
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
}
/* .nav-elem {
  color: aqua;
} */
/* #nav-bottom {
  /* background-color: red; */
/* height: 0%; */
/* position: absolute; */
/* width: 79%; */
/* transition: all ease 0.65s; */
/* bottom: 0%; */
/* border-bottom: 1px solid #dadada; */
/* display: flex; */
/* align-items: flex-start; */
/* justify-content: space-between; */
/* padding: 2vw 15vw; */
/* padding-left: 15.5vw; */
/* padding-top: 6vw; */
